<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="moe.shizuku.manager.permission.API_V2" />

    <application
        android:name=".AgentApp"
        android:label="mp-cleaner Agent"
        android:icon="@android:drawable/sym_def_app_icon"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        android:allowBackup="false"
        android:supportsRtl="true">

        <!-- Shizuku provider(authority 必须是 ${applicationId}.shizuku;permission 保护) -->
        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:multiprocess="false"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
